.Header {
    position: fixed;
    width: 100vw;
    height: 60px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 50px 0 100px;
}

.Header .title {
    font-size: 30px;
    font-weight: bold;
}
