.HomePage {
    display: block;
    box-sizing: border-box;
    padding: 100px 10vw 0;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fab-wrapper {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.post-wrapper {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 20px;
}
